USE [TimetableDb]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 28.06.2026 10:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [nvarchar](450) NOT NULL,
	[Longname] [nvarchar](max) NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReservationReasons]    Script Date: 28.06.2026 10:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReservationReasons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Alias] [nvarchar](max) NULL,
	[IsDefault] [bit] NOT NULL,
 CONSTRAINT [PK_ReservationReasons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 28.06.2026 10:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TargetId] [nvarchar](max) NULL,
	[ReasonId] [int] NOT NULL,
	[Day] [int] NOT NULL,
	[Period] [int] NOT NULL,
 CONSTRAINT [PK_Reservations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeacherPreferences]    Script Date: 28.06.2026 10:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeacherPreferences](
	[TeacherId] [nvarchar](450) NOT NULL,
	[Text] [nvarchar](max) NULL,
 CONSTRAINT [PK_TeacherPreferences] PRIMARY KEY CLUSTERED 
(
	[TeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 28.06.2026 10:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[Id] [nvarchar](450) NOT NULL,
	[Forename] [nvarchar](max) NULL,
	[Surname] [nvarchar](max) NULL,
	[Gender] [nvarchar](max) NULL,
	[DepartmentId] [nvarchar](max) NULL,
	[ClassDepartmentId] [nvarchar](450) NULL,
 CONSTRAINT [PK_Teachers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Departments] ([Id], [Longname]) VALUES (N'DP_CIF', N'Informatik Abend Kolleg und Aufbaulehrgang')
INSERT [dbo].[Departments] ([Id], [Longname]) VALUES (N'DP_FELA', N'Fachschule Elektronik+Techn.Informatik Tag')
INSERT [dbo].[Departments] ([Id], [Longname]) VALUES (N'DP_HBG', N'Höhere Biomedizin & Gesundheitstechnik')
GO
SET IDENTITY_INSERT [dbo].[ReservationReasons] ON 

INSERT [dbo].[ReservationReasons] ([Id], [Description], [Alias], [IsDefault]) VALUES (1, N'frei', N'F', 0)
INSERT [dbo].[ReservationReasons] ([Id], [Description], [Alias], [IsDefault]) VALUES (2, N'möglichst frei', N'MF', 0)
INSERT [dbo].[ReservationReasons] ([Id], [Description], [Alias], [IsDefault]) VALUES (3, N'Beruf', N'B', 0)
SET IDENTITY_INSERT [dbo].[ReservationReasons] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservations] ON 

INSERT [dbo].[Reservations] ([Id], [TargetId], [ReasonId], [Day], [Period]) VALUES (18526, N'TR_BRUEC', 3, 5, 6)
INSERT [dbo].[Reservations] ([Id], [TargetId], [ReasonId], [Day], [Period]) VALUES (18527, N'TR_BRUEC', 3, 5, 2)
INSERT [dbo].[Reservations] ([Id], [TargetId], [ReasonId], [Day], [Period]) VALUES (18528, N'TR_BRUEC', 3, 5, 3)
GO
SET IDENTITY_INSERT [dbo].[Reservations] OFF
GO
INSERT [dbo].[TeacherPreferences] ([TeacherId], [Text]) VALUES (N'TR_ABER', N'Schön wäre wenn ich ein möglichst langes Wochenende mit Emmanuelle haben könnte. Ich hätte es gerne wieder ähnlich wie voriges Jahr. Wenn geht Freitag möglichst bald aus und Montag möglichst spät anfangen. Montag gibt es einen Morgen-Flug Paris-Wien um 07:10, Noch superer wäre Freitag ganz frei, dann könnte ich Donnerstag schon zu meiner Emmanuelle nach Paris fliegen, vorausgesetzt ich erwische das Flugzeug Donnerstag Abend noch, da müsste ich aber Donnerstag ca. 15:30 weg.')
INSERT [dbo].[TeacherPreferences] ([TeacherId], [Text]) VALUES (N'TR_ADLU', N'Bitte möglichst frühe Stunden, da ich am Nachmittag meine Kurse für das Masterstudium haben werde.')
INSERT [dbo].[TeacherPreferences] ([TeacherId], [Text]) VALUES (N'TR_AIST', N'Freier Tag gern auch Montag oder Freitag...')
GO
INSERT [dbo].[Teachers] ([Id], [Forename], [Surname], [Gender], [DepartmentId], [ClassDepartmentId]) VALUES (N'TR_ABER', N'Christian', N'Aberger', N'M', N'DP_HIF', NULL)
INSERT [dbo].[Teachers] ([Id], [Forename], [Surname], [Gender], [DepartmentId], [ClassDepartmentId]) VALUES (N'TR_ABOY', N'Youannes', N'Abousif Youannes', N'M', NULL, NULL)
INSERT [dbo].[Teachers] ([Id], [Forename], [Surname], [Gender], [DepartmentId], [ClassDepartmentId]) VALUES (N'TR_ADLU', N'Lea Margaretha', N'Adlung', N'F', NULL, NULL)
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_ReservationReasons_ReasonId] FOREIGN KEY([ReasonId])
REFERENCES [dbo].[ReservationReasons] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservations_ReservationReasons_ReasonId]
GO
ALTER TABLE [dbo].[Teachers]  WITH CHECK ADD  CONSTRAINT [FK_Teachers_Departments_ClassDepartmentId] FOREIGN KEY([ClassDepartmentId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[Teachers] CHECK CONSTRAINT [FK_Teachers_Departments_ClassDepartmentId]
GO
