/*VARIABLES*/
:root {
    /*colors*/
    --transparent: rgba(0, 0, 0, 0);

    /*Leo colors*/
    /* --leo-orange: #e69246;
    --leo-light-blue: rgb(167, 202, 233);
    --leo-blue-tint-white: rgb(206, 232, 255); */

    --leo-primary-color1: #4F46E5;
    --leo-primary-color2: #3B82F6;
    --leo-secondary-color: #F59E0B;
    --leo-background-color: #EBEBEB;
    --leo-text-color: #1F2937;

    /*constant values*/
}

/*EXTERNAL FONTS*/
/* @font-face {
    font-family: alte-haas-grotesk;
    src: url(../assets/font/alte-haas-grotesk/AlteHaasGroteskRegular.ttf);
} */

/*GENERAL CHANGES*/
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}