/*VARIABLES*/
:root {
    /*colors*/
    --transparent: rgba(0, 0, 0, 0);

    /*Leo colors*/
    --leo-primary-color1: #4F46E5;
    --leo-primary-color2: #3B82F6;
    --leo-secondary-color: #F59E0B;
    --leo-background-color: #EBEBEB;
    --leo-text-color: #1F2937;

    /*constant values*/
}

/*EXTERNAL FONTS*/
/* @font-face {
    font-family: alte-haas-grotesk;
    src: url(../assets/font/alte-haas-grotesk/AlteHaasGroteskRegular.ttf);
} */

/*GENERAL CHANGES*/
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}


/* ------------------FLEX CONTAINER--------------------- */

.flex-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}


/* ------------------NAVIGATION BAR--------------------- */
#nav-bar {
    height: 100%;
    width: 20vw;
}

#logo-container{
    background-color: var(--leo-background-color);
    border-radius: 50%;

    width: 5vw;
    height: 5vw;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 2vh;
    margin-left: 1vw;
}

#nav-item-container {
    margin-top: 10vh;
}

.nav-item {
    display: grid;
    grid-template-columns: 3rem auto;
    align-items: center;
    gap: 1rem;
    
    margin-top: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;

    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;

    cursor: pointer;

    color: var(--leo-text-color);
    font-weight: 0;
    font-size: 2rem;
}

.nav-item:hover {
    color: var(--leo-primary-color1);
    background-color: var(--leo-background-color);

    border-radius: 5vw;
}

.nav-item i {
    font-size: 2.5rem;
    justify-self: center;
}

#account-info-box {
    display: grid;
    grid-template-columns: 5vw auto;
    align-items: center;

    position: fixed;
    bottom: 2vh;

    margin-left: 1vw;

    cursor: pointer;
}

#account-avatar {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;

    margin-left: 1vw;

    object-fit:scale-down;
    border-style: solid;
}

#account-username {
    font-size: 2rem;
    color: var(--leo-text-color);
    font-weight: 0;
}