/*VARIABLES*/
:root {
    /*colors*/
    --transparent: rgba(0, 0, 0, 0);

    /*Leo colors*/
    --leo-primary-color1: #4F46E5;
    --leo-primary-color2: #3B82F6;
    --leo-secondary-color: #F59E0B;
    --leo-background-color: #EBEBEB;
    --leo-text-color: #1F2937;

    /*constant values*/
}

/*EXTERNAL FONTS*/
/* @font-face {
    font-family: alte-haas-grotesk;
    src: url(../assets/font/alte-haas-grotesk/AlteHaasGroteskRegular.ttf);
} */

/*GENERAL CHANGES*/
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}


/* ------------------FLEX CONTAINER--------------------- */

.flex-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}


/* ------------------MAIN CONTENT BOX--------------------- */
#main-content {
    background-color: var(--leo-background-color);
    width: 80vw;
    height: 100vh;
    position: relative;

    overflow-y: hidden;

}

#header-text {
    font-weight: bold;
    font-size: 3rem;
    color: var(--leo-text-color);

    margin-left: 5vw;
    margin-top: 2vh;
    margin-right: 43vw;
}

#header-subtext {
    opacity: 0.4;
    font-weight: bold;
    font-size: 2.25rem;
    color: var(--leo-text-color);

    margin-left: 5vw;
}


/* ------------------ CONTROLS CSS SUCH AS SEARCH AND ADD BUTTON---------------------*/
#controls {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    
} 

#search-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    width: 20vw;

    padding-right: 1vw;
    padding-left: 1vw;
    padding-top: 0.7vh;
    padding-bottom: 0.7vh;

    background-color: #D9D9D9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    border-radius: 2vw;
    border-style: none;
    font-size: 1.75rem;

    color: var(--leo-text-color);
}

#search-bar:focus-within{
    outline: none;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.089);
}


#input-field {
    background: transparent;
    color: var(--leo-text-color);
    font-size: 1.5rem;
    text-align: right;

    width: 20vw;
    margin-right: 0.5vw;
    border: none;
    outline: none;
}

#search-icon{
    color: var(--leo-text-color);
    width: 1.5vw;
    height: 1.5vw;

    justify-self: center;
}


#add-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    width: 15vw;

    font-weight: semi-bold;

    margin-top: 1.5vh;

    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;

    border-radius: 43px;

    background-color: var(--leo-primary-color1);
    color: white;


    cursor: pointer;

    transition: all 200ms ease-in;
}

#add-btn:hover {
    background-color: var(--leo-primary-color2);
    scale: 1.02;
}


/* ------------------NAVIGATION BAR--------------------- */
#nav-bar {
    height: 100%;
    width: 20vw;
}

#logo-container{
    background-color: var(--leo-background-color);
    border-radius: 50%;

    width: 5vw;
    height: 5vw;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 2vh;
    margin-left: 1vw;
}

#nav-item-container {
    margin-top: 10vh;
}

.nav-item {
    display: grid;
    grid-template-columns: 3rem auto;
    align-items: center;
    gap: 1rem;
    
    margin-top: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;

    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;

    cursor: pointer;

    color: var(--leo-text-color);
    font-weight: 0;
    font-size: 2rem;
}

.nav-item:hover {
    color: var(--leo-primary-color1);
    background-color: var(--leo-background-color);

    border-radius: 5vw;
}

.nav-item i {
    font-size: 2.5rem;
    justify-self: center;
}

#account-info-box {
    display: grid;
    grid-template-columns: 5vw auto;
    align-items: center;

    position: fixed;
    bottom: 2vh;

    margin-left: 1vw;

    cursor: pointer;
}

#account-avatar {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;

    margin-left: 1vw;

    object-fit:scale-down;
    border-style: solid;
}

#account-username {
    font-size: 2rem;
    color: var(--leo-text-color);
    font-weight: 0;
}