#flex-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}    

/* ------------------NAVIGATION BAR--------------------- */
#nav-bar {
    height: 100%;
    width: 20vw;
}

#logo-container{
    background-color: var(--leo-background-color);
    border-radius: 50%;

    width: 5vw;
    height: 5vw;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 2vh;
    margin-left: 1vw;
}

#nav-item-container {
    margin-top: 10vh;
}

.nav-item {
    display: grid;
    grid-template-columns: 3rem auto;
    align-items: center;
    gap: 1rem;
    
    margin-top: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;

    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;

    cursor: pointer;

    color: var(--leo-text-color);
    font-weight: 0;
    font-size: 2rem;
}

.nav-item:hover {
    color: var(--leo-primary-color1);
    background-color: var(--leo-background-color);

    border-radius: 5vw;
}



.nav-item i {
    font-size: 2.5rem;
    justify-self: center;
}


/* ------------------MAIN CONTENT BOX--------------------- */
#main-content {
    background-color: var(--leo-background-color);
    width: 100%;
    height: 100%;
    position: relative;
}
#welcome-text{
    font-weight: bold;
    font-size: 3rem;
    color: var(--leo-text-color);

    margin-left: 5vw;
    margin-top: 2vh;
}

#timetable-status-text{
    opacity: 0.4;
    font-weight: bold;
    font-size: 2.25rem;
    color: var(--leo-text-color);

    margin-left: 5vw;
}

/* ------------------DASHBOARD CONTENT---------------------*/

#dashboard-content {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
}

#status-card-container{
    margin-left: 5vw;
    margin-right: 5vw;
}
#status-card-img{
    width: 31.25vw;
}
#status-card-text{
    position: absolute;
    top: 70vh;
    left: 18vw;

    font-size: 36px;
    font-weight: bold;
    color: var(--leo-text-color);

    opacity: 0.4;
}

#stat-card-container{
    width: 100%;
    margin-left: 10vw;
    margin-right: 7vw;
}

.stat-card{
    margin-bottom: 4vh;

    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    padding-left: 3vw;
    padding-right: 3vw;

    background-color: white;
    border-radius: 2vw;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.stat-content{
    display: grid;
    grid-template-columns: auto 3vw;
    align-items: center;
}

.stat-text{
    font-size: 2rem;
    color: var(--leo-text-color);
}
.stat-number{
    font-size: 4.375rem;
    color: var(--leo-text-color);
}

.stat-arrow-icon{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    margin-top: 2vh;
    
    font-size: 2rem;
}

/* // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */
