body {
    margin: 0;
    padding: 0;
    width: auto;
    font-family: alte-haas-grotesk;
    user-select: none;
}

/*=========================================HEADER=========================================*/

#header {
    width: auto;
    background-color: var(--leo-orange);
    box-sizing: border-box;
    padding: 0 3.5%;
    display: flex;
    align-items: center;
    gap: 5%;
    position: relative;
    margin: 0;
    height: 10vh;
}

#header img {
    position: absolute;
    display: block;
    width: 15%;
}

/*=========================================CONTENT=========================================*/

#content-wrapper {
    display: flex;
    height: 90vh;
    margin: 0;
}

/*------Setting navigation------*/
nav {
    height: 100%;
    width: 2.5em;
    background-color: var(--leo-orange);
}

nav>div {
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*------tab-list------*/

/*------main------*/
main {
    width: 100%;
    height: 100%;
    position: relative;
}

/*------form------*/
#form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: 35%;
    height: 90%;
    font-size: 1.2em;
    text-align: center;
    background-color: var(--leo-blue-tint-white);
    padding: 2em 0;
}

#checkbox-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1.5em;
    margin: 2em 0;
    text-align: left;
}

.subject-box {
    padding-left: 30%;
}

.subject-box > input[type="checkbox"] {
    width: 1.2em;
    aspect-ratio: 1/1;
}

#add-teacher-btn {
    font-size: 1.5em;
    padding: 0.5rem 1rem;
    background-color: var(--leo-orange);
    border-radius: 20px;
    border: solid white 2px;
    color: white;

    transition: all 200ms ease-in;
}
#add-teacher-btn:hover{
    border-radius: 1em;
}
#add-teacher-btn:active {
    transform: scale(0.95);
    transition: all 100ms ease-in;
}