*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    width: auto;
}

#header{
    width: auto;
    background-color: #e69246;
    padding: 1vh;
}
#header img{
    display: block;
    width: 30vw;
}

#content{
    width: auto;
    height: auto;
    background-color: rgb(167, 202, 233);
}

#days{
    display: flex;
    text-align: center;
    justify-content: left;   
}
.day{
    font-size: large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.SchoolDays{
    border-style: solid;
}

#day0{
    margin-right: 20vh;
    border-right: solid;
    text-align: center;
}

.day .headlineP{
    margin-top: 1vh;
    text-align: center;
    margin-right: 2vh;
    margin-left: 2vh;
    margin-bottom: 1vh;
}


.timeScheduleBoxes{
    height: 14vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gridBoxDays{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.periodStyling{
    width: 10vw;
    border-style: solid;
    height: 14vh;
    margin-bottom: 1vh;
    margin-right: 1vh;
}

.period{
    margin-top: 5vh;
}


#gridBoxTimeSchedules .timeScheduleBoxes{
    margin-bottom: 1vh;
    border-top: solid;
    border-bottom: solid;
}

