*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}

#header{
    width: auto;
    background-color: #e69246;
    padding: 1vh;
}
#header img{
    display: block;
    width: 30vw;
}

#content{
    width: auto;
    height: auto;
}

#days{
    padding: 1vh;
    display: flex;
    text-align: center;
    justify-content: center;   
}
.day{
    margin-right: 5vh;
    font-size: large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

