/*VARIABLES*/
:root {
    /*colors*/
    --transparent: rgba(0, 0, 0, 0);

    /*Leo colors*/
    --leo-orange: #e69246;
    --leo-light-blue: rgb(167, 202, 233);
    --leo-blue-tint-white: rgb(206, 232, 255);

    /*subject colors*/
    --sb-none: rgb(51, 51, 51);
    --sb-red: rgb(255, 0, 0);
    --sb-green: rgb(0, 255, 0);
    --sb-yellow: rgb(255, 255, 0);

    /*constant values*/
}

@font-face {
    font-family: alte-haas-grotesk;
    src: url(../assets/font/alte-haas-grotesk/AlteHaasGroteskRegular.ttf);
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
    /*removes the blue marking by mouse drag*/
}

body {
    margin: 0;
    padding: 0;
    width: auto;
    font-family: alte-haas-grotesk;
}

/*HEADER*/

#header {
    width: auto;
    background-color: var(--leo-orange);
    padding: 2vh;
    border-bottom: solid;
    border-color: white;
    display: flex;
    align-items: center;
    gap: 5%;
    position: relative;
}

#header img {
    position: absolute;
    display: block;
    width: 25vw;
}

#randomizeButton {
    cursor: pointer;

    margin-left: auto;
    margin-right: auto;

    background-color: var(--transparent);
    color: white;
    font-size: 2em;

    border: 5px solid white;
    padding: 1em 2.5em;
    border-radius: 1em;
    transition: all 400ms ease-out;
}

#randomizeButton>div,
#randomizeButton i {
    transition: transform 250ms ease-out;
}


#randomizeButton:hover {
    border-radius: 2em;
    transition: all 270ms ease-in;
}

#randomizeButton:hover>div {
    transform: scale(1.25);
}

#randomizeButton:hover>div>i {
    transform: translateY(-5px);
}


#randomizeButton:active {
    background-color: var(--leo-light-blue);
    transform: scale(0.95);
    transition: all 50ms ease-out;
}

#randomizeButton:active>div>i {
    transform: translateY(-15px);
}

/*CONTENT*/

#content {
    width: auto;
    height: auto;
    background-color: var(--leo-light-blue);
}

#days {
    display: flex;
    text-align: center;
    justify-content: left;
}

.day {
    font-size: large;
    font-weight: bold;
    font-family: alte-haas-grotesk;
}

.SchoolDays {
    border-style: solid;
}

#day0 {
    margin-right: 0vh;
    color: var(--leo-blue-tint-white);
    /* border-right: solid;
    border-color: rgb(206, 232, 255); */
    text-align: center;
    font-size: 1.25em;
}

.day .headlineP {
    text-align: center;
    margin-top: 1vh;
    margin-right: 2vh;
    margin-left: 2vh;
    margin-bottom: 1vh;
}

.headlineP {
    font-size: 2rem;
    font-weight: bold;
    color: white;
}


.timeScheduleBoxes {
    height: 15vh;
    width: 3vw;
    padding: 0.25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gridBoxDays {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.periodStyling {
    width: 14.5vw;
    height: 15vh;

    padding: 0.25vw;
    margin-bottom: 0.5vh;
    margin-right: 0.75vh;

    border-style: solid;
    border-color: var(--transparent);
    border-radius: 0.5em;

    font-size: 1.25em;
}



.period {
    margin-top: 5vh;
}

/*Priod styling*/
/* .empty{
    /* border-color: var(--sb-none); 
    
}

.physics {
    border-color: var(--sb-red);
}

.history {
    border-color: var(--sb-green);
}

.math {
    border-color: var(--sb-yellow);
} */


#gridBoxTimeSchedules .timeScheduleBoxes {
    margin-bottom: 0.5vh;
    border-style: solid;
    border-color: var(--transparent);
}