*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    width: auto;
}

#header{
    width: auto;
    background-color: #e69246;
    padding: 2vh;
    border-bottom: solid;
    border-color: rgb(255, 255, 255);
}
#header img{
    display: block;
    width: 25vw;
}

#content{
    width: auto;
    height: auto;
    background-color: rgb(167, 202, 233);
}

#days{
    display: flex;
    text-align: center;
    justify-content: left;   
}
.day{
    font-size: large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.SchoolDays{
    border-style: solid;
}

#day0{
    margin-right: 0vh;
    color: rgb(206, 232, 255);
    /* border-right: solid;
    border-color: rgb(206, 232, 255); */
    text-align: center;
}

.day .headlineP{
    margin-top: 1vh;
    text-align: center;
    margin-right: 2vh;
    margin-left: 2vh;
    margin-bottom: 1vh;
}

.headlineP{
    font-size: 2rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
}


.timeScheduleBoxes{
    height: 15vh;
    width: 3vw;
    padding: 0.25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gridBoxDays{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.periodStyling{
    width: 14.5vw;
    padding: 0.25vw;
    border-style: solid;
    border-color: rgb(206, 232, 255);
    height: 15vh;
    margin-bottom: 0.5vh;
    margin-right: 0.5vh;
}

.period{
    margin-top: 5vh;
}


#gridBoxTimeSchedules .timeScheduleBoxes{
    margin-bottom: 0.5vh;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
}

