body {
    margin: 0;
    padding: 0;
    width: auto;
    font-family: alte-haas-grotesk;
    user-select: none;
}

/*=========================================HEADER=========================================*/

#header {
    width: auto;
    /* background-color: var(--leo-orange); */
    background-color: orange;
    padding: 2vh;
    border-bottom: solid;
    border-color: white;
    display: flex;
    align-items: center;
    gap: 5%;
    position: relative;
}

#header img {
    /* position: absolute; */
    display: block;
    width: 25vw;
}

/*=========================================RANDOMIZE BUTTON=========================================*/
#randomizeButton {
    cursor: pointer;

    margin-left: auto;
    margin-right: auto;

    background-color: var(--transparent);
    color: white;
    font-size: 2em;

    border: 5px solid white;
    padding: 1em 2.5em;
    border-radius: 1em;
    transition: all 400ms ease-out;
}

#randomizeButton>div,
#randomizeButton i {
    transition: transform 250ms ease-out;
}


#randomizeButton:hover {
    border-radius: 2em;
    transition: all 270ms ease-in;
}

#randomizeButton:hover>div {
    transform: scale(1.25);
}

#randomizeButton:hover>div>i {
    transform: translateY(-5px);
}


#randomizeButton:active {
    background-color: var(--leo-primary-color1);
    transform: scale(0.95);
    transition: all 50ms ease-out;
}

#randomizeButton:active>div>i {
    transform: translateY(-15px);
}

/*=========================================ALGORITHM BUTTON=========================================*/
#algorithmButton {
    cursor: pointer;

    margin-left: auto;
    margin-right: 2vw;

    background-color: var(--transparent);
    color: white;
    font-size: 2em;

    border: 5px solid white;
    padding: 1em 2.5em;
    border-radius: 1em;
    transition: all 400ms ease-out;
}
#algorithmButton>div,
#algorithmButton i {
    transition: transform 250ms ease-out;
}
#algorithmButton:hover {
    border-radius: 2em;
    transition: all 270ms ease-in;
}
#algorithmButton:hover>div {
    transform: scale(1.25);
}
#algorithmButton:hover>div>i {
    transform: translateY(-5px);
}
#algorithmButton:active {
    background-color: var(--leo-primary-color1);
    transform: scale(0.95);
    transition: all 50ms ease-out;
}
#algorithmButton:active>div>i {
    transform: translateY(-15px);
}


/*=========================================CONTENT=========================================*/
#content {
    width: auto;
    height: auto;
    background-color: white;
}

#days {
    display: flex;
    text-align: center;
    justify-content: left;
}

.day {
    font-size: large;
    font-weight: bold;
    font-family: alte-haas-grotesk;
}

.SchoolDays {
    border-style: solid;
}

#day0 {
    margin-right: 0vh;
    color: var(--leo-text-color);
    text-align: center;
    font-size: 1.25em;
}

.day .headlineP {
    text-align: center;
    margin-top: 1vh;
    margin-right: 2vh;
    margin-left: 2vh;
    margin-bottom: 1vh;
}

.headlineP {
    font-size: 2rem;
    font-weight: bold;
    color: white;
}


.timeScheduleBoxes {
    height: 15vh;
    width: 3vw;
    padding: 0.25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gridBoxDays {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.periodStyling {
    width: 14.5vw;
    height: 15vh;

    padding: 0.25vw;
    margin-bottom: 0.5vh;
    margin-right: 0.75vh;

    border-style: solid;
    border-color: var(--transparent);
    border-radius: 0.5em;

    font-size: 1.25em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.period {
    margin-top: 5vh;
}

#gridBoxTimeSchedules .timeScheduleBoxes {
    margin-bottom: 0.5vh;
    border-style: solid;
    border-color: var(--transparent);
}