/*=========================================HEADER=========================================*/

#header {
    width: auto;
    /* background-color: var(--leo-orange); */
    background-color: orange;
    padding: 2vh;
    border-bottom: solid;
    border-color: white;
    display: flex;
    align-items: center;
    gap: 5%;
    position: relative;
}

#header img {
    /* position: absolute; */
    display: block;
    width: 25vw;
}

/*=====================================CONTENT===================================*/

#main-content {
    background-color: var(--leo-background-color);

    width: 100%;
    height: 100vh;

    position: relative;
}

#title {
    font-weight: bold;
    font-size: 3rem;
    color: var(--leo-text-color);

    margin-top: 2vh;
}

#top-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    gap: 5px;
    padding: 0 5vw;
    box-sizing: border-box;
}

#middle-console {
    display: flex;
    align-items: center;

    padding: 0 1em;

    gap: 5px;
}

.top-bar-select {
    font-size: 1.5em;

    position: relative;
    width: max-content;
}

.select-trigger {
    position: relative;
    z-index: 2;
    cursor: pointer;
    font-size: 1em;

    padding: 0.1em 1em;
    border-radius: 36px;
    box-shadow: #0000004d 0px 5px 5px;

    border: none;
}

.select-trigger:hover, .top-bar-select.is-open .select-trigger {
    background-color: white;
}

.select-menu {
    display: none;

    z-index: 1;
    position: absolute;
    background-color: white;
    width: 100%;
    padding-top: 1em;
    overflow: hidden;
    transform: translateY(-0.5em);
    border-radius: 0 0 1em 1em;
    text-align: center;
    box-shadow: #0000004d 0px 5px 5px;
}

.top-bar-select.is-open .select-menu {
    display: block;
}

.select-menu li {
    cursor: default;
    padding-bottom: 0.1em;
}
.select-menu li:last-of-type {
    padding-bottom: 0.3em;
}
.select-menu li:hover {
    background-color: #00000013;
}

.selected-item {
    color: var(--leo-primary-color1);
}

.top-bar-btn {
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    color: var(--leo-text-color);

    font-size: 1.7rem;

    height: 1em;
    width: 1em;
    padding: 0.5em;
    border-radius: 5em;

    transition: all 400ms ease-out;
    box-shadow: #0000004d 0px 5px 5px;
}

.top-bar-btn>div,
.top-bar-btn i {
    transition: transform 250ms ease-out;
}

.top-bar-btn:hover>div>i {
    transform: scale(1.1);
}


.top-bar-btn:active {
    background-color: var(--leo-primary-color2);
    transform: scale(0.95);
    transition: all 50ms ease-out;
}

/*======================================TIMETABLE CONTENT=================================*/
#timetable-content {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;
    padding: 0 5vw;
    box-sizing: border-box;
}

#scroll-table-container {
    scroll-behavior: smooth;
    text-align: center;
    justify-content: left;

    background-color: white;
    color: var(--leo-text-color);

    border-radius: 36px;

    width: 100%;
    max-height: 90vh;
    overflow-y: scroll;
}

#days {
    display: flex;
    text-align: center;
    justify-content: left;

    background-color: white;
    color: var(--leo-text-color);

    border-radius: 36px;

    width: 100%;
}

.day {
    font-size: large;
    font-weight: bold;
    font-family: alte-haas-grotesk;
}

.SchoolDays {
    border-style: solid;
}

#day0 {
    margin-right: 0vh;
    text-align: center;
    font-size: 1.25em;
}

.day .headlineP {
    text-align: center;
    margin-top: 1vh;
    margin-right: 2vh;
    margin-left: 2vh;
    margin-bottom: 1vh;
    width: 8vw;
}

.headlineP {
    font-size: 2rem;
    font-weight: bold;
    color: var(--leo-text-color);
}


.timeScheduleBoxes {
    height: 5vh;
    width: 3vw;
    padding: 0.25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gridBoxDays {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.periodStyling {
    width: 80%;
    height: 5vh;

    padding: 0.25vw;
    margin-bottom: 0.5vh;
    margin-right: 0.75vh;

    border-style: solid;
    border-color: var(--transparent);
    border-radius: 0.5em;

    font-size: 1.25em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.period {
    margin-top: 5vh;
}

#gridBoxTimeSchedules .timeScheduleBoxes {
    margin-bottom: 0.5vh;
    border-style: solid;
    border-color: var(--transparent);
}