:root {
    --period-height: 5rem;
    --break-height: 1.5rem;
}
/*=========================================HEADER=========================================*/

#header {
    width: auto;
    /* background-color: var(--leo-orange); */
    background-color: orange;
    padding: 2vh;
    border-bottom: solid;
    border-color: white;
    display: flex;
    align-items: center;
    gap: 5%;
    position: relative;
}

#header img {
    /* position: absolute; */
    display: block;
    width: 25vw;
}

/*=====================================CONTENT===================================*/

#main-content {
    background-color: var(--leo-background-color);

    width: 100%;
    height: 100vh;

    position: relative;
}

#title {
    font-weight: bold;
    font-size: 3rem;
    color: var(--leo-text-color);

    margin-top: 2vh;
}

#top-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    gap: 5px;
    padding: 0 5vw;
    box-sizing: border-box;
}

#middle-console {
    display: flex;
    align-items: center;

    padding: 0 1em;

    gap: 5px;
}

.top-bar-select {
    font-size: 1.5em;

    position: relative;
    width: max-content;
}

.select-trigger {
    position: relative;
    z-index: 6;
    cursor: pointer;
    font-size: 1em;

    padding: 0.1em 1em;
    border-radius: 36px;
    box-shadow: #0000004d 0px 5px 5px;

    border: none;
}

.select-trigger:hover,
.top-bar-select.is-open .select-trigger {
    background-color: white;
}

.select-menu {
    display: none;

    z-index: 5;
    position: absolute;
    background-color: white;
    width: 100%;
    padding-top: 1em;
    overflow: hidden;
    transform: translateY(-0.5em);
    border-radius: 0 0 1em 1em;
    text-align: center;
    box-shadow: #0000004d 0px 5px 5px;
}

.top-bar-select.is-open .select-menu {
    display: block;
}

.select-menu li {
    cursor: default;
    padding-bottom: 0.1em;
}

.select-menu li:last-of-type {
    padding-bottom: 0.3em;
}

.select-menu li:hover {
    background-color: #00000013;
}

.selected-item {
    color: var(--leo-primary-color1);
}

.top-bar-btn {
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    color: var(--leo-text-color);

    font-size: 1.7rem;

    height: 1em;
    width: 1em;
    padding: 0.5em;
    border-radius: 5em;

    transition: all 400ms ease-out;
    box-shadow: #0000004d 0px 5px 5px;
}

.top-bar-btn>div,
.top-bar-btn i {
    transition: transform 250ms ease-out;
}

.top-bar-btn:hover>div>i {
    transform: scale(1.1);
}


.top-bar-btn:active {
    background-color: var(--leo-primary-color2);
    transform: scale(0.95);
    transition: all 50ms ease-out;
}

/*======================================TIMETABLE CONTENT=================================*/
#timetable {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;
    padding: 0 5vw;
    box-sizing: border-box;
}

#timetable-content {
    display: flex;
    text-align: center;
    align-items: start;
    flex-direction: column;

    background-color: white;
    color: var(--leo-text-color);

    border-radius: 36px;

    width: 100%;
    max-height: 85vh;
    padding: 2% 5% 0 5%;
    box-sizing: border-box;

    font-size: large;
    font-weight: bold;
    font-family: alte-haas-grotesk;
}

#timetable-day-name {
    width: 100%;
    display: flex;
}

#timetable-day-name>div {
    display: flex;
    align-items: end;
    justify-content: center;

    font-size: 2rem;

    width: 9vw;
    min-width: 9vw;
    max-height: var(--period-height);
}

#timetable-day-name>div:first-child {
    width: 5vw !important;
    min-width: 5vw !important;
}


#timetable-view {
    position: relative;
    width: 100%;

    display: flex;

    scroll-behavior: smooth;
    text-align: center;
    justify-content: left;

    width: 100%;
    overflow-y: scroll;
}

#timetable-background {
    position: absolute;
    width: 100%;
    z-index: 1;
}

#timetable-background>div {
    border-bottom: black dashed 2px;
}

.period-line {
    margin-top: 5px;
    height: var(--period-height);
    box-sizing: border-box;
}

.break-line {
    height: var(--break-height);
}

#timetable-times {
    min-width: 5vw;
    text-align: left;
    
    z-index: 2;
}

.period-box {
    margin-top: 5px;
    height: var(--period-height);
    box-sizing: border-box;
}

.break-box {
    height: var(--break-height);
}

.current-period {
    font-size: 1.8rem;
}

/*periods*/
#timetable-days {
    z-index: 2;
    display: flex;
    width: calc(100%-5vw);
}

.school-days {
    width: 9vw;
    min-width: 9vw;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.periods {
    text-align: center;
        display: flex;
        flex-direction: column;
    align-items: center;
    justify-content: center;
}

.period-styling {
    width: 90%;
    height: var(--period-height);

    margin-bottom: 5px;
    padding: 0.25vw;
    box-sizing: border-box;

    border: none;
    border-radius: 0.5em;

    font-size: 1.25em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.period-break {
    height: var(--break-height);
    margin-bottom: 2.5px;
}

.period {
    margin-top: 5vh;
}